<div style="height:0px;  margin:10px"></div>
<div>
	<div style="height:40px">
		<p style="float:left; margin-left: 10px; margin-right: 10px;">Select figure: </p>   <select ng-options="figname for figname in $ctrl.file_names" ng-model="$ctrl.selectedFigure" ng-change="$ctrl.updateImageInfo();$ctrl.update();"></select>

		<p style="float:left;margin-right: 20px;"> Figure size: </p> <span>
		<rzslider rz-slider-model="$ctrl.image_size" rz-slider-options="{floor: 100, ceil: 700, step : 50, minRange : 100, maxRange :700, minLimit : 100, maxLimit : 700, ticksArray : [100, 300, 500, 700], value : 100}" style="height:50px; width:250px"></rzslider>
		</span>

		<button type="button" ng-click="$ctrl.param_combs_vis=!$ctrl.param_combs_vis" class="btn btn-primary" style="float:right; padding-left :5px; padding-right : 5px; padding-top : 3px; margin-right: 5px;">Hide param. combs.</button>
	</div>
	<div class="noscrollbar" ng-show="$ctrl.param_combs_vis" style="height:15vh; overflow-y: scroll; overflow-x:hidden">
		<table class="table table-striped"  style="float:left; table-layout: fixed; margin-left: 10px">
			<tbody>
				<tr>
			        <td style="width:400px;">
			        	<table class="table table-striped">
				        	<tbody>
				        		<tr class='tr-aligned' ng-repeat="(pname,vals) in $ctrl.varying_params">
				        			<td style="width:100%; border-top: none !important;">
									<button type="button" class="btn btn-sm btn-primary btn-param-name" ng-model="$ctrl.parameterNameRadioModel" ng-change="$ctrl.update()" uib-btn-radio="'{{pname}}'" style="width:400px;">
											{{pname}}
									</button>
									<td>
								</tr>
				        	</tbody>
			        	</table>
			        </td>
			        	
			        <td style="margin-left : 10px">
			        	<table class="table table-striped">
				        	<tbody>
				        		<tr class='tr-aligned' ng-repeat="(pname,vals) in $ctrl.varying_params">
									<td ng-repeat="val in vals" style="border-top: none !important;">
										
										<button type="button" class="btn btn-sm btn-success btn-param-value" ng-model="$ctrl.selectedParamValues[pname][val]" ng-change="$ctrl.update()" ng-click="$ctrl.updateButtonActivation()"  uib-btn-checkbox ng-disabled="$ctrl.disabledParamValues[pname][val]" style="max-width:65px;">
											{{val}}
										</button>
									<td>
								</tr>	
			        		</tbody>
			        	</table>
			        </td>
		      </tr>	
			<tbody>
		</table>
	</div>
	
</div>

<table sync-scroll sync-scroll-x="horizontal-scroll" sync-scroll-y="vertical-scroll" style="table-layout: fixed;">
	<tbody>
	<tr style="margin: 0px; height:50px;">
		<td style="min-width:20px;min-height:50px; margin: 0px;">
		</td>
		<td>
			<div class=".container-fluid horizontal-scroll noscrollbar" style="margin: 0px; background-color:#DFDFDF;height:50px; width : calc(100vw - 20px); overflow-x: scroll; white-space: nowrap; overflow-x:hidden">
					<span ng-repeat="pnv in  $ctrl.xParameterValues" style = "display : inline-block; margin:0px" ng-style="{'width' : $ctrl.image_size + 4 + 'px'}">
						<p ng-repeat="z in pnv" style="text-align: center;margin:0px">{{z[0]}}  : {{z[1]}}</p>	
					</span>
			</div>
		</td>
	</tr>
	<tr >
		<td>
			<div class=".container-fluid vertical-scroll noscrollbar" ng-style="$ctrl.param_combs_vis && {'height' : 'calc(85vh - 151px)'} || {'height' : 'calc(100vh - 141px)'}" style="width:20px;overflow: auto; margin: 0px; background-color:#DFDFDF;">
					<div ng-repeat="pnv in  $ctrl.yParameterValues" ng-style="{'height' : $ctrl.image_size*$ctrl.image_hw_ratio + 'px'}">
						<p ng-style="{'transform':  'rotate(-90deg) translate(-' + $ctrl.image_size*$ctrl.image_hw_ratio/2 + 'px,0px)'}" style="text-align: center; margin: 0px" >{{pnv[1]}}</p>
					</div>
			</div>
		</td>
		<td>
				<div class=".container-fluid figure-display horizontal-scroll vertical-scroll" ng-style="$ctrl.param_combs_vis && {'height' : 'calc(85vh - 151px)'} || {'height' : 'calc(100vh - 141px)'} " style="overflow: auto; white-space: nowrap; margin:0px">
					<div ng-repeat="figureList in $ctrl.figuresToDisplay" class="row-fluid">	
						<span ng-repeat="figures in figureList">
							<a ng-click="$ctrl.openLightboxModal(figures)" href>
											<img ng-if="figures[$ctrl.selectedFigure] !== undefined" ng-src="/api/simulation-runs/images/{{figures[$ctrl.selectedFigure]._id}}" class="img-thumbnail" ng-style="{'width' : $ctrl.image_size + 'px'}">
											<img ng-if="figures[$ctrl.selectedFigure] == undefined" ng-src="//:0" class="img-thumbnail" ng-style="{'width' : $ctrl.image_size + 'px'}">
											
							</a>
						</span>
					</div>
				</div>
		</td>
	</tr>
	</tbody>
</table>
