<div class="navbar navbar-default navbar-static-top topnav">
  <div class="container">
    <div class="navbar-header">
      <a href="about" class='navbar-left'><img src="./assets/images/raw-logo-clipped-white-full-name.svg" style="height:26px; padding-right:10px; "></a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in $ctrl.menu" ng-class="{active: $ctrl.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
